.fT-Resp{
    font-size: calc(11px + 0.15vw);
}

h1{
    font-size: calc(29px + 0.15vw);
}

h2{
    font-size: calc(23px + 0.15vw);
}

h3{
    font-size: calc(16px + 0.15vw);
}

h4{
    font-size: calc(14px + 0.15vw);
}