/* body{
    background-color: rgb(0, 0, 0);
} */

.fT-Resp{
    font-size: calc(11px + 0.15vw);
}

h1{
    font-size: calc(28px + 0.15vw);
}

h2{
    font-size: calc(22px + 0.15vw);
}

h3{
    font-size: calc(16px + 0.15vw);
}

h4{
    font-size: calc(14px + 0.15vw);
}